#cursor {
	width: 0.75em;
	height: 0.75em;
	border-radius: 50%;
	background-color: black;

	--x: 20;
	--y: 20;
	position: fixed;
	top: calc(var(--y) * 1px);
	left: calc(var(--x) * 1px);

	/* transition: all 10ms; */
}


body {
	background-color: antiquewhite;
}

button {
	color:white;
	background-color: green;
	height: 3em;
}

.content {

	text-align: center;
	padding: 2em;
}